body{
  margin:0;
  background:#02122b;
  font-family:monospace;
  color:white;
}

.container{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:40px;
}

.menu-panel,
.game-panel{
  background:#031733;
  border:5px solid #2f5180;
  border-radius:12px;
  padding:20px;
  box-sizing:border-box;
}

.menu-panel{
  width:350px;
  height:700px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.game-panel{
  width:700px;
  height:700px;
}

.menu-panel h1,
.game-panel h1{
  text-align:center;
  font-size:42px;
}

.logo{
  text-align:center;
}

.logo h2{
  color:#4f93ff;
  font-size:55px;
}

.snake{
  font-size:120px;
}

.buttons{
  display:flex;
  flex-direction:column;
  gap:25px;
  align-items:center;
}

.buttons button{
  width:260px;
  height:80px;
  font-size:32px;
  background:#224f8d;
  color:white;
  border:4px solid #5b8bd1;
  border-radius:10px;
  cursor:pointer;
}

.buttons button:hover{
  background:#3469b3;
}

.bottom-bar{
  border-top:4px solid #2f5180;
  padding-top:20px;
  display:flex;
  justify-content:space-between;
  font-size:28px;
}

.top-bar{
  background:#17345f;
  border:4px solid #2f5180;
  border-radius:10px;
  display:flex;
  justify-content:space-between;
  padding:15px;
  font-size:28px;
  margin-bottom:20px;
}

.canvas-box{
 
  width:100%;
  height:820px;
  border:4px solid #2f5180;
  background:black;

  display:flex;
  justify-content:center;
  align-items:flex-start;

  overflow:auto;

}

canvas{
  background:black;
}
#instructionPopup{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.8);

  display:none;

  justify-content:center;
  align-items:center;
}

.instruction-box{
  width:600px;
  background:#031733;
  border:5px solid #2f5180;
  border-radius:12px;
  padding:40px;
  color:white;
  text-align:center;
}

.instruction-box h1{
  font-size:48px;
}

.instruction-box p{
  font-size:28px;
  margin:25px 0;
}

.instruction-box button{
  width:220px;
  height:70px;
  font-size:28px;
  background:#224f8d;
  color:white;
  border:none;
  border-radius:10px;
  cursor:pointer;
}