body{
  margin:0;
  background:#02122b;
  font-family:monospace;
  color:white;
}

.container{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:40px;
}

.menu-panel,
.game-panel{
  background:#031733;
  border:5px solid #2f5180;
  border-radius:12px;
  padding:20px;
  box-sizing:border-box;
}

.menu-panel{
  width:350px;
  height:700px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.game-panel{
  width:700px;
  height:700px;
}

.menu-panel h1,
.game-panel h1{
  text-align:center;
  font-size:42px;
}

.logo{
  text-align:center;
}

.logo h2{
  color:#4f93ff;
  font-size:55px;
}

.snake{
  font-size:120px;
}

.buttons{
  display:flex;
  flex-direction:column;
  gap:25px;
  align-items:center;
}

.buttons button{
  width:260px;
  height:80px;
  font-size:32px;
  background:#224f8d;
  color:white;
  border:4px solid #5b8bd1;
  border-radius:10px;
  cursor:pointer;
}

.buttons button:hover{
  background:#3469b3;
}

.bottom-bar{
  border-top:4px solid #2f5180;
  padding-top:20px;
  display:flex;
  justify-content:space-between;
  font-size:28px;
}